<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimarket App - Ventas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            position: relative;
            padding-top: 120px;
        }

        .total-container {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: black;
            padding: 8px; /* Ajustar el padding para reducir la altura */
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
            z-index: 1000;
        }
        
        .total-container h3 {
            font-size: 37px;
            color: #4dff4d;
            margin: 0;
        }

        .payment-methods {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f8f9fa;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            z-index: 1000;
            display: flex;
            justify-content: center;
        }

        .payment-methods .form-check {
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            padding: 10px;
        }

        .payment-methods .form-check-input {
            margin-right: 5px;
        }

        .form-check-label i {
            margin-right: 5px;
            font-size: 18px;
        }

        .form-check-input:checked + .form-check-label i {
            color: #28a745;
        }

        .finalize-sale-btn {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000 !important;
            font-size: 1.5rem !important;
            padding: 1rem 2rem !important;
        }

        .product-table-container {
            max-height: 362px;
            overflow-y: auto;
        }

        #cashPaymentContainer {
            display: none;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <%- include('navbar') %>
    
    <div class="container">
        <!-- Formulario de búsqueda -->
        <form id="searchForm" class="form-inline my-4">
            <input type="number" id="productId" class="form-control mr-2" placeholder="ID del Producto" required>
            <button type="submit" class="btn btn-primary">Buscar Producto</button>
        </form>

        <!-- Contenedor de la tabla de productos con scroll -->
        <div class="product-table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Precio de Venta</th>
                        <th>Cantidad</th>
                        <th>Imagen</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody id="productTableBody">
                    <!-- Productos agregados aparecerán aquí -->
                </tbody>
            </table>
        </div>

    <!-- Contenedor para el total -->
    <div class="total-container">
        <h3 style="margin-bottom: -9px;">Total: $<span id="totalAmount">0.00</span></h3>
        
        <!-- Formulario de pago en efectivo y cálculo del vuelto -->
        <div id="cashPaymentContainer" class="form-group mt-2" style="display: none; color: white;">
            <label for="cashAmount">Monto pagado en efectivo:</label>
            <input type="number" id="cashAmount" class="form-control" min="0" step="0.01">
            <label for="changeAmount">Vuelto:</label>
            <input type="text" id="changeAmount" class="form-control" readonly>
        </div>
    </div>
    


        <!-- Métodos de pago -->
        <div class="payment-methods">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="credito" value="credito">
                <label class="form-check-label" for="credito">
                    <i class="fas fa-credit-card"></i> Tarjeta de Crédito
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="debito" value="debito">
                <label class="form-check-label" for="debito">
                    <i class="fas fa-credit-card-front"></i> Tarjeta de Débito
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="efectivo" value="efectivo">
                <label class="form-check-label" for="efectivo">
                    <i class="fas fa-money-bill-wave"></i> Efectivo
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="mercadopago" value="mercadopago">
                <label class="form-check-label" for="mercadopago">
                    <i class="fas fa-wallet"></i> MercadoPago
                </label>
            </div>
        </div>

        

        <!-- Botón de Finalizar Venta -->
        <div class="text-center mt-4">
            <button id="finalizeSale" class="btn btn-success finalize-sale-btn">Finalizar Venta</button>
        </div>
    </div>

    <!-- Modal de éxito -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Venta Realizada</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    La venta se ha realizado exitosamente.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de error -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Por favor, seleccione al menos un método de pago.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para mostrar detalles de la venta y preguntar si desea imprimir el ticket -->
    <div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="printModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="printModalLabel">Detalles de la Venta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="saleDetails"></div>
                    <p>¿Desea imprimir el ticket de la venta?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="printTicket">Imprimir</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No imprimir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            let totalAmount = 0;
            const productTableBody = $('#productTableBody');
        
            $('#searchForm').submit(function(event) {
                event.preventDefault();
                const productId = $('#productId').val();
                $.get(`/products/${productId}`, function(product) {
                    const productRow = `
                        <tr>
                            <td>${product.id}</td>
                            <td>${product.name}</td>
                            <td>${product.brand}</td>
                            <td>${product.sale_price}</td>
                            <td><input type="number" class="form-control quantity" data-id="${product.id}" data-price="${product.sale_price}" value="1" min="1"></td>
                            <td><img src="${product.image_filename ? '/uploads/' + product.image_filename : 'No disponible'}" alt="Imagen del producto" width="90"></td>
                            <td><button class="btn btn-danger remove-product" data-id="${product.id}">Eliminar</button></td>
                        </tr>`;
                    productTableBody.append(productRow);
                    totalAmount += product.sale_price;
                    $('#totalAmount').text(totalAmount.toFixed(2));
                });
            });
        
            productTableBody.on('click', '.remove-product', function() {
                const row = $(this).closest('tr');
                const price = row.find('.quantity').data('price');
                const quantity = row.find('.quantity').val();
                totalAmount -= price * quantity;
                $('#totalAmount').text(totalAmount.toFixed(2));
                row.remove();
            });
        
            productTableBody.on('change', '.quantity', function() {
                totalAmount = 0;
                productTableBody.find('tr').each(function() {
                    const rowPrice = $(this).find('.quantity').data('price');
                    const rowQuantity = $(this).find('.quantity').val();
                    totalAmount += rowPrice * rowQuantity;
                });
                $('#totalAmount').text(totalAmount.toFixed(2));
            });
        
            $('#efectivo').change(function() {
                if ($(this).is(':checked')) {
                    $('#cashPaymentContainer').show();
                } else {
                    $('#cashPaymentContainer').hide();
                }
            });
        
            $('#cashAmount').on('input', function() {
                const cashAmount = parseFloat($(this).val()) || 0;
                const change = cashAmount - totalAmount;
                $('#changeAmount').val(change >= 0 ? change.toFixed(2) : 'Monto insuficiente');
            });
        
            $('#finalizeSale').click(function() {
                const products = [];
                const ticketNumber = generateTicketNumber(); // Generar el número de ticket aquí
                const consumer = "Consumidor Final";
        
                const saleDateTime = new Date().toLocaleString('es-AR');
        
                let saleDetailsHtml = `
                    <div style="font-family: 'Courier New', Courier, monospace; line-height: 1.4;">
                        <h4 style="text-align: center;">Minimarket "El Ahorro"</h4>
                        <p style="text-align: center;">CUIT: 30-12345678-9</p>
                        <p style="text-align: center;">Fecha y hora: ${saleDateTime}</p>
                        <p style="text-align: center;">IVA: ${consumer}</p>
                        <p style="text-align: center;">---------------------------------------</p>
                        <p style="text-align: center;">Orientación al consumidor de Provincia de Buenos Aires 0800-222-9072</p>
                        <p style="text-align: center;">.......................................</p>
                        <h6>Productos:</h6><ul style="list-style-type: none; padding-left: 0;">`;
        
                productTableBody.find('tr').each(function() {
                    const productId = $(this).find('.quantity').data('id');
                    const productName = $(this).find('td:nth-child(2)').text();
                    const quantity = $(this).find('.quantity').val();
                    const price = $(this).find('.quantity').data('price');
                    const totalPrice = (price * quantity).toFixed(2);
        
                    products.push({ id: productId, quantity: quantity, sale_price: price });
        
                    saleDetailsHtml += `<li>${quantity} x ${productName} - $${totalPrice}</li>`;
                });
        
                saleDetailsHtml += `</ul>
                    <p style="text-align: center;">.......................................</p>
                    <p><strong>Total: $${totalAmount.toFixed(2)}</strong></p>`;
        
                const paymentMethods = [];
                if ($('#credito').is(':checked')) paymentMethods.push('Tarjeta de Crédito');
                if ($('#debito').is(':checked')) paymentMethods.push('Tarjeta de Débito');
                if ($('#efectivo').is(':checked')) {
                    paymentMethods.push('Efectivo');
                    const cashAmount = parseFloat($('#cashAmount').val()) || 0;
                    const change = cashAmount - totalAmount;
                    if (change < 0) {
                        alert('El monto en efectivo es insuficiente.');
                        return;
                    }
                    saleDetailsHtml += `<p>Monto pagado en efectivo: $${cashAmount.toFixed(2)}</p>`;
                    saleDetailsHtml += `<p>Vuelto: $${change.toFixed(2)}</p>`;
                }
                if ($('#mercadopago').is(':checked')) paymentMethods.push('MercadoPago');
        
                saleDetailsHtml += '<h6>Métodos de pago:</h6><ul style="list-style-type: none; padding-left: 0;">';
                paymentMethods.forEach(method => {
                    saleDetailsHtml += `<li>${method}</li>`;
                });
                saleDetailsHtml += '</ul>';
        
                saleDetailsHtml += `<p style="text-align: center;">.......................................</p>
                    <p style="text-align: center;"><em>¡Muchas gracias por su compra!</em></p>
                    <p style="text-align: center;">.......................................</p>
                </div>`;
        
                if (paymentMethods.length === 0) {
                    $('#errorModal').modal('show');
                    return;
                }
        
                $.ajax({
                    url: '/finalize-sale',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        products: products,
                        payment_methods: paymentMethods,
                        total_amount: totalAmount,
                        ticket_number: ticketNumber, // Añadir el número de ticket aquí
                        cash_amount: $('#efectivo').is(':checked') ? parseFloat($('#cashAmount').val()) : null,
                        change_amount: $('#efectivo').is(':checked') ? parseFloat($('#changeAmount').val()) : null
                    }),
                    success: function(response) {
                        if (response.success) {
                            if ($('#efectivo').is(':checked')) {
                                const cashAmount = parseFloat($('#cashAmount').val());
                                const change = parseFloat($('#changeAmount').val());
        
                                $.ajax({
                                    url: '/insert-daily-cash',
                                    method: 'POST',
                                    contentType: 'application/json',
                                    data: JSON.stringify({
                                        fecha_hora: saleDateTime,
                                        motivo_ingreso: 'Ingreso por venta',
                                        descripcion: `Venta de ticket N° ${ticketNumber}`,
                                        monto_ingreso: cashAmount
                                    }),
                                    success: function(response) {
                                        console.log('Ingreso registrado:', response);
                                    },
                                    error: function(xhr, status, error) {
                                        console.error("Error al registrar el ingreso:", error);
                                    }
                                });
        
                                $.ajax({
                                    url: '/insert-daily-cash',
                                    method: 'POST',
                                    contentType: 'application/json',
                                    data: JSON.stringify({
                                        fecha_hora: saleDateTime,
                                        motivo_egreso: 'Vuelto por venta',
                                        descripcion: `Vuelto de ticket N° ${ticketNumber}`,
                                        monto_egreso: change
                                    }),
                                    success: function(response) {
                                        console.log('Egreso registrado:', response);
                                    },
                                    error: function(xhr, status, error) {
                                        console.error("Error al registrar el egreso:", error);
                                    }
                                });
                            }
        
                            $('#saleDetails').html(saleDetailsHtml);
                            $('#printModal').modal('show');
        
                            productTableBody.empty();
                            totalAmount = 0;
                            $('#totalAmount').text(totalAmount.toFixed(2));
                            $('input[type=checkbox]').prop('checked', false);
                            $('#productId').val('');
                            $('#cashAmount').val('');
                            $('#changeAmount').val('');
                            $('#cashPaymentContainer').hide();
                        } else {
                            console.error("Error en la respuesta del servidor:", response.error);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("Error en la petición AJAX:", error);
                    }
                });
            });
        
            $('#printTicket').click(function() {
                const printWindow = window.open('', '_blank');
                printWindow.document.write('<html><head><title>Ticket de Venta</title>');
                printWindow.document.write('<style>body { font-family: Arial, sans-serif; } h4, p { text-align: center; }</style>');
                printWindow.document.write('</head><body>');
                printWindow.document.write($('#saleDetails').html());
                printWindow.document.write('</body></html>');
                printWindow.document.close();
                printWindow.print();
                printWindow.close();
        
                $('#printModal').modal('hide');
            });
        
            function generateTicketNumber() {
                return Math.floor(Math.random() * 9000000) + 1000000;
            }
        });
        
    </script>
</body>
</html>
                